<div class="rounded-lg p-2 divEvents flex flex-1">

  <ul>

    <li>
      <a [routerLink]="[ '/Eventos' ]" routerLinkActive="active">
        <span class="flex items-center gap-4 text-zinc-300 hover:text-pink-500 py-3 px-5 font-medium
      transition duration-300">
        <img src="../../../../assets/images/icons/icons8-ticket-24.png" alt="Ticket">
          <p class="border-b-2">Próximos Eventos</p>
      </span>
    </a>
    </li>

    @if (this.EventosSpain != null) {
      @for (item of this.EventosSpain._embedded.events; track $index) {
        <app-event-card [evento]="item"></app-event-card>
      }
  }@else {

    @for (item of this.arrLoading; track $index) {
      <nz-skeleton [nzActive]="true"></nz-skeleton>
    }
  }
  </ul>
</div>
