ul {
  width: 100%;
}

ul li {
  margin: 0 10px;
  padding: 10px;

}
ul li a:hover{
  color: rgba(247, 134, 209, 0.6);;
}


ul li.activeUrl{
  border-bottom: 6px solid rgba(209, 38, 152, 0.6);
  border-radius: 2px;
}

ul li a {
  color: white;
  font-weight: bold;
  font-size: 16px;
}
