<div class="card">
  <p-toast></p-toast>
</div>

<div class="flex flex-col">

  <div class="bg-zinc-900 p-4 flex items-center justify-center rounded-lg">
    <img src="../../../../assets/images/DSOUNDS-removebg-preview.png" alt="Logo" class="w-40">
  </div>


<div class="flex ">

  <div class="w-7/12 mt-5">
    <div class="flex flex-col justify-center bg-zinc-900 rounded-lg p-2 m-2 gap-5">

      <app-mini-datos-envio [datosPago]="datosPago" [listaProvincias]="(listaProvincias$ |async)!" (checkDatosFacturacionEvent)="ShowCompDatosFacturacion($event)"></app-mini-datos-envio>
      @if(mostrarFacturacion){
        <app-mini-datos-facturacion [datosPago]="datosPago" [listaProvincias]="(listaProvincias$ |async)!"></app-mini-datos-facturacion>
      }
      <app-mini-datos-pago [datosPago]="datosPago"></app-mini-datos-pago>
    </div>
    <div class="flex justify-center">
      <button (click)="this.RealizarPedido()" [disabled]="pedidoRealizado" class="bg-fuchsia-500 p-3 rounded-lg">Pagar</button>
    </div>
  </div>


  <div class="w-5/12 mt-5 px-4 ">

    <div class="bg-[#5d0b41] rounded-lg shadow-md p-4 mb-4 text-center w-full">
      <h2 class="text-xl text-white font-semibold mb-2">Resumen del Pedido</h2>
      <div class="mb-4">
        <p class="text-white text-base">Gastos de envío:</p>
        <p class=" text-lg font-semibold">{{this.gastosEnvio}}€</p>
      </div>
      <div class="mb-4">
        <p class="text-white text-lg">Total a pagar:</p>
        <p class=" text-xl font-bold  italic">{{ ((this.subtotal$ | async)! + this.gastosEnvio).toFixed(2) }} €</p>
      </div>

    </div>
  </div>

