<div class="gap-5">
  <div class="flex flex-row  bg-[#5d0b41] rounded-lg p-8 gap-8">
      <picture class="aspect-square w-52 h-52 flex-none shadow-xl">
          <img [src]="evento!.images[3]!.url" width="200" height="200"
              class="rounded-lg shadow-lg object-cover w-full h-full"
              [style.view-transition-name]="'evento-'+evento?.id">
      </picture>

      <div class="flex flex-col justify-between">
          <h2 class="flex flex-1 items-end  text-white">
              Evento
          </h2>
          <div>
              <h1 class="  font-bold block text-white tituloDisco">
                  {{evento?.name}}

              </h1>
          </div>

          <div class="flex flex-1 items-end">
              <div class="text-sm text-gray-300 font-normal mt-4 rounded-lg">
                  <div class="">
                    <h2 class="text-gray-100 font-bold text-xl ">Precios</h2>
                        <span class="resumenDisco text-lg">De {{evento?.priceRanges![0].min}}€ a {{evento?.priceRanges![0].max}}€</span>
                  </div>
              </div>

          </div>
          <div class="flex flex-1 justify-center gap-10  mt-5 rounded-lg ">
              <div class="">
                <button type="button" class="text-white bg-[#922394] hover:bg-[#e16cba] focus:ring-4 focus:outline-none focus:ring-fuchsia-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2  shadow-md transition-all btnCompra"
                (click)="RedirectToEvento()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 600" class="me-3 "><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#ffffff" d="M64 64C28.7 64 0 92.7 0 128v64c0 8.8 7.4 15.7 15.7 18.6C34.5 217.1 48 235 48 256s-13.5 38.9-32.3 45.4C7.4 304.3 0 311.2 0 320v64c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V320c0-8.8-7.4-15.7-15.7-18.6C541.5 294.9 528 277 528 256s13.5-38.9 32.3-45.4c8.3-2.9 15.7-9.8 15.7-18.6V128c0-35.3-28.7-64-64-64H64zm64 112l0 160c0 8.8 7.2 16 16 16H432c8.8 0 16-7.2 16-16V176c0-8.8-7.2-16-16-16H144c-8.8 0-16 7.2-16 16zM96 160c0-17.7 14.3-32 32-32H448c17.7 0 32 14.3 32 32V352c0 17.7-14.3 32-32 32H128c-17.7 0-32-14.3-32-32V160z"/></svg>
                  Ir a TicketMasters
                  </button>
              </div>

              <div class="redes">
                <div class="menuRedes">
                  <ul>
                 @if(evento!._embedded.attractions[0].externalLinks != undefined){
                  @if(this.evento!._embedded.attractions[0].externalLinks.twitter != undefined){
                    <li><a [href]="this.evento!._embedded.attractions[0].externalLinks.twitter[0].url" target="_blank" class="x"><img src="../../../../../assets/images/icons/icons8-twitterx-30.png" alt="X Icon" /><i class="fab fa-x"></i></a></li>
                  }
                  @if(this.evento!._embedded.attractions[0].externalLinks.spotify != undefined){
                    <li><a [href]="this.evento!._embedded.attractions[0].externalLinks.spotify[0].url" target="_blank" class="spotify"><img src="../../../../../assets/images/icons/icons8-spotify-24.png" alt="Spotify Icon" /><i class="fab fa-spotify"></i></a></li>
                  }
                  @if(this.evento!._embedded.attractions[0].externalLinks.youtube != undefined){
                    <li><a [href]="this.evento!._embedded.attractions[0].externalLinks.youtube[0].url" target="_blank" class="youtube"><img src="../../../../../assets/images/icons/icons8-youtube-30.png" alt="YouTube Icon" /><i class="fab fa-youtube"></i></a></li>
                  }
                    @if(this.evento!._embedded.attractions[0].externalLinks.instagram != undefined){
                      <li><a [href]="this.evento!._embedded.attractions[0].externalLinks.instagram[0].url" target="_blank" class="instagram"><img src="../../../../../assets/images/icons/icons8-instagram-30.png" alt="Instagram Icon" /><i class="fab fa-instagram"></i></a></li>
                    }

                    @if (this.evento!._embedded.attractions[0].externalLinks.itunes != undefined) {

                      <li><a [href]="this.evento!._embedded.attractions[0].externalLinks.itunes[0].url" target="_blank" class="itunes"><img src="../../../../../assets/images/icons/icons8-itunes-30.png" alt="iTunes Icon" /><i class="fab fa-itunes"></i></a></li>
                    }
                 }


                  </ul>
                </div>
              </div>


          </div>



      </div>

  </div>

  <div class="flex flex-row justify-evenly  rounded-xl p-8 gap-8 mt-5">

    <div class="">

      <p-card header="Lugar" class="shadow-lg cardEvento text-white ">

        <p class="m-0 ">
            Este evento tendrá lugar en:
          </p>
          @if (evento!._embedded.venues[0].location != undefined) {
            <div class=" m-0">
              <h3 class="text-white text-lg font-bold underline">{{this.evento?._embedded!.venues[0].name}}</h3>
              <p class="mt-2">{{this.evento?._embedded!.venues[0].address.line1}},{{this.evento?._embedded!.venues[0].city.name}}</p>
              <p class="mt-2">Día y hora de comienzo: {{ this.evento?.dates?.start?.dateTime| date:'dd-MM-yyyy, HH:mm'}}  </p>
              <iframe
              width="400"
              height="350"
              style="border:0; border-radius: 10px; margin-top: 20px;"
              loading="lazy"
              allowfullscreen
              referrerpolicy="no-referrer-when-downgrade"
              [src]="this.urlMap">
            </iframe>
            </div>
          }
    </p-card>

    </div>

  </div>

</div>
