<div class="card">
  <p-toast></p-toast>
</div>
<div class="flex justify-center items-center mt-8">
  <div class="flex flex-col  bg-[#320f25]   border-2 rounded-lg ">
    <h1 class="text-center text-white font-light mt-5 text-2xl "><span class="pi pi-lock me-4 border-2 rounded-3xl p-3"></span>Modificar contraseña</h1>
    <form [formGroup]="datosForm" class="mt-5 flex flex-col gap-7 md:px-20 sm:px-10 lg:px-60 py-3" (submit)="ModificarPassword()">

      <p-floatLabel class="m-2">
        <p-password formControlName="passwordActual" [feedback]="false"
        [toggleMask]="true"/>
        <label for="passwordActual">Contraseña actual*</label>
      </p-floatLabel>
      @if (datosForm.controls['passwordActual'].errors?.['required'] &&
      datosForm.controls['passwordActual'].touched) {

      <span class="text-red-600 error-message" >* Contraseña Obligatoria</span>
      }
      @if (datosForm.controls['passwordActual'].errors?.['minlength'] &&
      datosForm.controls['passwordActual'].touched) {

      <span class="text-red-600 error-message">* Mínimo 5 caracteres</span>
      }
      @if (datosForm.controls['passwordActual'].errors?.['pattern'] &&
      datosForm.controls['passwordActual'].touched) {

      <span class="text-red-600 error-message">* La contraseña debe tener 1 mayus, 1 num. y un caracter
        alfanumérico</span>
      }

      <p-floatLabel class="m-2">
        <p-password formControlName="nuevaPassword" [feedback]="true"
        promptLabel="Introduce la nueva contraseña"
        weakLabel="Demasiado fácil"
        mediumLabel="Algo complicada"
        strongLabel="Perfecta" [toggleMask]="true"/>
        <label for="nuevaPassword">Nueva contraseña*</label>
      </p-floatLabel>
      @if (datosForm.controls['nuevaPassword'].errors?.['required'] &&
      datosForm.controls['nuevaPassword'].touched) {

      <span class="text-red-600 error-message">* Contraseña Obligatoria</span>
      }
      @if (datosForm.controls['nuevaPassword'].errors?.['minlength'] &&
      datosForm.controls['nuevaPassword'].touched) {

      <span class="text-red-600 error-message">* Mínimo 5 caracteres</span>
      }
      @if (datosForm.controls['nuevaPassword'].errors?.['pattern'] &&
      datosForm.controls['nuevaPassword'].touched) {

      <span class="text-red-600 error-message">* La contraseña debe tener 1 mayus, 1 num. y un caracter
        alfanumérico</span>
      }

      <p-floatLabel class="m-2">
        <p-password formControlName="repetirPassword" [feedback]="true"
        promptLabel="Confirma tu nueva contraseña"
        weakLabel="Demasiado fácil"
        mediumLabel="Algo complicada"
        strongLabel="Perfecta" [toggleMask]="true"/>
        <label for="repetirPassword">Repetir nueva contraseña*</label>
      </p-floatLabel>

      @if (datosForm.controls['repetirPassword'].errors?.['required'] &&
      datosForm.controls['repetirPassword'].touched) {

      <span class="text-red-600 error-message">* Contraseña Obligatoria</span>
      }
      @if (datosForm.controls['repetirPassword'].errors?.['minlength'] &&
      datosForm.controls['repetirPassword'].touched) {

      <span class="text-red-600 error-message">* Mínimo 5 caracteres</span>
      }
      @if (datosForm.controls['repetirPassword'].errors?.['pattern'] &&
      datosForm.controls['repetirPassword'].touched) {

      <span class="text-red-600 error-message">* La contraseña debe tener 1 mayus, 1 num. y un caracter
        alfanumérico</span>
      }
      @if (datosForm.controls['repetirPassword'].errors?.['compareTo'] &&
      datosForm.controls['repetirPassword'].touched) {

      <span class="text-red-600 error-message">* La contraseña debe ser igual a la nueva introducida</span>
      }

      <p-button type="submit" label="Cambiar contraseña" class="mt-5 items-center m-auto" />


    </form>
  </div>
</div>
