

.tituloDisco{
  font-size: 1.8rem;
}

:host{
  ::ng-deep .p-accordion-content{
    background: transparent;
    color: rgb(193, 193, 193);
  }

  ::ng-deep .p-accordion-header-link:hover {
    color: #c02e8f !important;
  }

  ::ng-deep .p-button{
    background-color: black;
    color: white;
    padding: 13px;
  }

}

.btnCompra:hover{
  transform: scale(1.1);
  transition: all 0.8s;
}

@media (min-width:1002px) {
  .resumenDisco{
    display: block;
  }
  .tituloDisco{
    font-size: 2.5rem;
  }

}
.flex-row.items-center {
  display: flex;
  align-items: center;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)));
}

:host ::ng-deep .playlist-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Dialog Background and Text Color */
:host ::ng-deep .p-dialog {
  background-color: #131313;
  color: white;
}
:host ::ng-deep .p-dialog-content {
  background-color: #131313;
  color: white;
}
:host ::ng-deep .p-dialog-header {
  background-color: #131313;
  color: white;
}

/* List Background Color */
:host ::ng-deep .p-listbox .p-listbox-list {
  background-color: #131313;
}

/* Remove background on hover */
:host ::ng-deep .p-listbox .p-listbox-item:hover {
  background-color: #131313;
  color: white;
}

/* List Item Text Color */
:host ::ng-deep .p-listbox .p-listbox-item {
  color: white;
  background-color: #131313; /* Ensure background color is the same */
}
:host ::ng-deep .p-listbox .p-listbox-item:active {
  color: white;
  background-color: #131313;
}

/* Button Background and Text Color */
:host ::ng-deep .p-button.p-component {
  background-color: #5d0b41;
  color: white;
}

/* Button Hover Effect */
:host ::ng-deep .p-button.p-component:hover {
  background-color: #480a30;
}

/* Remove background color for highlighted items */
:host ::ng-deep .p-listbox .p-listbox-item.p-highlight {
  background-color: transparent;
  border: none;
  color: white;
}
