<div class="rounded-lg p-2 divMenu">

    <ul>
      <li class="">
        <a  [routerLink]="['/Home']" routerLinkActive="router-link-active"  class="flex items-center gap-4 text-zinc-300 hover:text-pink-500 py-3 px-5 font-medium
            transition duration-300">
          <svg role="img" aria-hidden="true" viewBox="0 0 24 24" fill="#FFFFFF" width="24" height="24">
            <path
              d="M12.5 3.247a1 1 0 0 0-1 0L4 7.577V20h4.5v-6a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v6H20V7.577l-7.5-4.33zm-2-1.732a3 3 0 0 1 3 0l7.5 4.33a2 2 0 0 1 1 1.732V21a1 1 0 0 1-1 1h-6.5a1 1 0 0 1-1-1v-6h-3v6a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.577a2 2 0 0 1 1-1.732l7.5-4.33z">
            </path>
          </svg>
          Home
        </a>
      </li>

      @if(this.datosCliente != null){
        <li class="">
          <a  [routerLink]="['/MiCuenta']" routerLinkActive="router-link-active"  class="flex items-center gap-4  text-zinc-300 hover:text-pink-500  py-3 px-5 font-medium">
           <img src="../../../../assets/images/icons/icons8-customer-24.png" alt="Usuario Dsounds">
            Mi Cuenta, {{this.datosCliente.nombre}}
          </a>
        </li>

      }@else{
        <li class="">
          <a  [routerLink]="['/Login']" routerLinkActive="router-link-active"  class="flex items-center gap-4  text-zinc-300 hover:text-pink-500  py-3 px-5 font-medium">
           <img src="../../../../assets/images/icons/icons8-customer-24.png" alt="Usuario Dsounds">
            Login
          </a>
        </li>
      }


      @if(!regex.test(urlActual) ){
        <li class="">
          <a  [routerLink]="['/Discos']" routerLinkActive="router-link-active"  class="flex items-center gap-4  text-zinc-300 hover:text-pink-500  py-3 px-5 font-medium">
           <img src="../../../../assets/images/icons/icons8-cd-24.png" alt="Disco Dsounds">
            Discos
          </a>
        </li>

        <!-- <li class="">
          <a  [routerLink]="['']" routerLinkActive="router-link-active"  class="flex items-center gap-4  text-zinc-300 hover:text-pink-500  py-3 px-5 font-medium">
           <img src="../../../../assets/images/icons/Search.svg" alt="Disco Dsounds">
            Buscar Producto
          </a>
        </li> -->


        <li class="">
          <a  [routerLink]="['/Carrito']" routerLinkActive="router-link-active"  class="flex items-center gap-4  text-zinc-300 hover:text-pink-500  py-3 px-5 font-medium">
           <img src="../../../../assets/images/icons/icons8-basket-24.png" alt="Usuario Dsounds">
            Carrito
          </a>
        </li>
      }@else {
        <li class="">
          <a  [routerLink]="['/MiCuenta/DatosPersonales']" routerLinkActive="router-link-active"  class="flex items-center gap-4  text-zinc-300 hover:text-pink-500  py-3 px-5 font-medium">
           <img src="../../../../assets/images/icons/icons8-id-24.png" alt="Usuario Dsounds">
            Datos Personales
          </a>
        </li>


        <li class="">
          <a  [routerLink]="['/MiCuenta/Pedidos']" routerLinkActive="router-link-active"  class="flex items-center gap-4  text-zinc-300 hover:text-pink-500  py-3 px-5 font-medium">
           <img src="../../../../assets/images/icons/icons8-box-24.png" alt="Pedido Dsounds">
            Mis pedidos
          </a>
        </li>
      }


      @if(this.datosCliente !=null){
        <li class="">
          <a  (click)="CerrarSesionCliente()"  [routerLink]="['/Home']" routerLinkActive="router-link-active"  class="flex items-center gap-4  text-zinc-300 hover:text-pink-500  py-3 px-5 font-medium">
           <img src="../../../../assets/images/icons/icons8-log-out-24.png" alt="Usuario Dsounds">
            Cerrar Sesión
          </a>
        </li>
      }

    </ul>
  </div>



